@model IEnumerable<AdminPanel.Models.Models.NSI_Vendor.VendorModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.work_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_fiz_face)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_ur_face)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comment_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_assortment_updated)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.last_assortiment_updated_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_fiz_face)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_ur_face)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_assortment_updated)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.last_assortiment_updated_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
