@model IEnumerable<AdminPanel.Models.Models.Par_Models.ParameterModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Параметры</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table" id="parameters">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Поменять</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#parameters').DataTable();
    });
</script>
