@model AdminPanel.Models.Models.NSI_Product.ProductCategoryModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>ProductCategoryModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parentid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parentid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ru_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ru_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.en_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.en_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_last)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_last)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.photo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
